[2020-09-12 19:02] GiorgioBrux opened #3 "Add support for webhooks."

[2020-09-12 19:03] GiorgioBrux opened #4 "Add code legitimacy check."

[2020-09-12 21:15] GiorgioBrux commented on #3
Implemented in 4cb830dc4451122fcebc406c3f1b00cc63e3c576.

[2020-09-12 21:15] #3 closed

[2020-09-14 01:04] GiorgioBrux commented on #4
Implemented in b73ff5d.

[2020-09-14 01:04] #4 closed

[2020-09-14 01:04] GiorgioBrux opened #5 "Avoid rate limiting"

[2020-09-14 01:05] GiorgioBrux opened #6 "Add char frequency check."

[2020-09-14 09:36] jonyroda97 opened #7 "Error while deploying to Heroku"
[code]

[2020-09-14 12:51] GiorgioBrux commented on #7
Sorry for the inconvenience, should be fixed with 861b3df.

[2020-09-14 13:26] jonyroda97 commented on #7
Is there a way to update the deployed instance or do I have to delete and create a new one?

[2020-09-14 15:02] GiorgioBrux commented on #7
To update it, download and install the [Heroku CLI](https://devcenter.heroku.com/articles/heroku-command-line) and git, then run
- `heroku login`
- `git clone https://github.com/GiorgioBrux/nitro-sniper-enhanced.git `
- `cd nitro-sniper-enhanced`
- `git remote add heroku https://git.heroku.com/yourappname.git`
- `git push -f heroku master`

After you have this setup you can just use
- `git pull`
-

[2020-09-14 17:15] jonyroda97 commented on #7
New error

[code]

[2020-09-14 17:46] #7 closed

[2020-09-14 17:47] GiorgioBrux commented on #7
Should work now (it was discord.js' fault *sigh*).
If there are more errors feel free to reopen.

[2020-09-14 18:45] jonyroda97 opened #8 "Add support for Canary and PTB Webhooks links"
Now it only supports the normal link webhooks

`https://canary.discordapp.com/api/webhooks/`
`https://ptb.discordapp.com/api/webhooks/`

[2020-09-14 19:01] arnavpanigrahi opened #9 "bear with me"
I am using hellbound's sniper and i realised that he/she deleted the repository and i ended up here. Is that version discontinued?
 i couldnt find anyway to contact him/her. I am switching to this one for now. Thank you for the work

[2020-09-14 19:12] GiorgioBrux commented on #9
Hi,
You would need to ask him, I have no idea why s(he) decided to make his repo private or delete it. (never talked with him/her)
We are different people and these are different projects.

If you have further questions or encounter a bug/error feel free to open another issue.

[2020-09-14 19:12] #9 closed

[2020-09-14 21:42] #8 closed

[2020-09-30 07:04] THEG77 opened #10 "What happened to original Hellbound Repo?"

[2020-09-30 10:29] arnavpanigrahi commented on #10
it got hacked, i guess... but this sniper is faster i guess. use this

[2020-10-01 16:16] THEG77 opened #11 "Tokens keep reconnecting"
![image](https://user-images.githubusercontent.com/48765068/94835435-8d105d80-03c6-11eb-94e6-85147f0a4379.png)
IT Keeps Doing this forever and my is causing my tokens to get locked out.....
What might possibly be reason for this ?
I'm using 10+ slave tokens

[2020-10-01 16:29] GiorgioBrux commented on #10
I have no idea, this is the second time it happens. Again, we are different people and I don't know him, I just forked his project. It will probably get back up soon like the last time but /shrug

[2020-10-01 16:29] #10 closed

[2020-10-01 16:31] GiorgioBrux commented on #11
It's a weird behavior I'm investigating. Anyway, this happened even before and happens on hellbound's version too, it just doesn't print it. I will keep this issue open and see if it's the same with discord.js v12 too.

What do you mean with "tokens to get locked out"? Do they get changed?

[2020-10-01 17:45] THEG77 commented on #11
i mean they get locked out and one has to verify by email to unlock it.

[2020-10-02 03:44] GiorgioBrux commented on #11
That's normal behavior.
Until I update to discord.js v12, I removed the connection errors logging so it doesn't spam the log in e6adfbd3dc670d3a42ff15c2a74a37f27a76e4aa.

[2020-10-16 01:41] msPornHub commented on #10
hellbound nuked a server and he leaved github ( or changed name )

[2020-11-26 15:44] THEG77 opened #12 "Heroku out of memory error"
Heroku throws error while logging into accounts when more than like 20-30 tokens used in an app.

[2020-11-27 08:31] arnavpanigrahi commented on #12
thats a heroku limitation

[2020-11-28 10:39] Cloudfry commented on #12
you need to pay

[2020-11-28 16:41] GiorgioBrux commented on #12
As others have said, it's an heroku limitation. To go around that you can pay them, or host it yourself (either locally or by deploying the docker container)

[2020-11-28 16:41] #12 closed

[2021-01-01 15:34] brams1441 opened #13 "The heroku app keeps changing its state to crashed"
Always something like this

But this here was my error that i encountered while posting this.

[2021-01-01 16:41] brams1441 commented on #13
Seems to be working now so i think ill close this issue....

[2021-01-01 16:41] #13 closed

[2021-01-03 14:03] GiorgioBrux commented on #13
It was probably a problem with heroku itself, I will add connection exceptions handling ASAP so it doesn't print that wall of text next time.

[2021-01-03 19:33] bonxz opened #14 "Auto-destroying notes support"
Would be cool if you could add something like this as a function. Have seen this with other sniper programs and would find this quite cool
_____
++

add more pages that are similar to Privnote. (pastebin.com, safenote.co, temp.pm, hastebin.com)

[2021-01-08 12:02] GiorgioBrux commented on #14
I will try to add this asap!

[2021-01-08 14:53] brams1441 commented on #14
Just a quick question, what is privnote?

[2021-01-09 08:45] GiorgioBrux commented on #14
@brams1441 https://privnote.com/
I guess some people use that to giveaway gifts

[2021-01-09 19:27] bonxz opened #16 "Heroku Error Log [1.1.2]"
[code]

Bot is not working with latest update. the log repeats itself infinitely often that my browser even hangs up

[2021-01-09 19:37] GiorgioBrux commented on #16
Can you post the full log?

[2021-01-09 19:40] GiorgioBrux commented on #16
Nevermind, found it.
It's a problem with the new privnote detection (**sigh**). I will fix it in the new release, in the meanwhile feel free to ignore it as the sniper will still snipe correctly.

[2021-01-09 19:57] GiorgioBrux commented on #16
Fixed in 1aa80d3, sorry!

[2021-01-09 19:57] #16 closed

[2021-01-09 20:05] GiorgioBrux opened #17 "Broken privnote detection"
I'm aware of the current problems with the privnote detection.
If you see errors in the console don't panic, the sniper still works normally.

[2021-01-09 20:09] bonxz commented on #16
I could not copy the log because the error is so long that the window hangs :D

[2021-01-09 20:33] bonxz opened #18 "Donation / Enhancement"
If you make a donation page I would also like to donate something for your work. Or a https://www.buymeacoffee.com/

Among other things it would be cool if you could set the status of the accounts. I mean "online, offline, idle, dnd, invisible".

And maybe you could add more pages that are similar to Privnote. (pastebin.com, safenote.co, temp.pm, hastebin.com)

And it would be better if you maybe

[2021-01-09 20:47] iiLeafy opened #19 "Add embed support"
I'm not sure if this already exists or not but does it check for links in a embed, if it doesn't this can be a suggestion.

[2021-01-10 06:32] GiorgioBrux commented on #19
It should check already, let me know if you find any case where it doesn't :)

[2021-01-10 07:53] GiorgioBrux commented on #18
I'll think about donations, but I would very much appreciate PRs if you can code!

Those are all good ideas, but please create a separate issue for each so I can better keep track of them, thanks!

[2021-01-10 07:53] #18 closed

[2021-01-10 10:14] GiorgioBrux opened #20 "Auto join giveaways"

[2021-01-10 10:15] GiorgioBrux commented on #14
Split the issue in two: see [here](https://github.com/GiorgioBrux/nitro-sniper-enhanced/issues/20) for the giveaway part.

[2021-01-10 11:41] #6 closed

[2021-01-10 15:41] bonxz opened #21 "Status of the accounts."
Set status like :

- online
- offline
- idle
- dnd
- invisible

[2021-01-10 15:43] bonxz commented on #14
addes this here

[2021-01-10 18:16] 7fe2752182d43f856b49a802e36d597c78ae87b commented on #19
Doesn't appear to get any of these links in an embed
![image](https://user-images.githubusercontent.com/69968736/104131612-3357f180-532c-11eb-808e-c94a90f1ca65.png)

[2021-01-11 15:18] GiorgioBrux opened #23 "'Payment source required to redeem gift'"
'Payment source required to redeem gift' when redeeming some type of gifts.

[2021-01-11 16:10] #17 closed

[2021-01-11 16:11] GiorgioBrux commented on #17
:tada: This issue has been resolved in version 1.2.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-11 16:18] GiorgioBrux opened #24 "Permanent usedTokens cache"

[2021-01-11 16:45] bonxz opened #25 "Heroku Startup failed [Log]"
[code]

Log from heroku

[2021-01-11 16:49] GiorgioBrux commented on #25
It's the same issue of #13, you probably copy pasted the token and it also pasted a line break. Go to your heroku app, -> settings -> reveal config vars, and make sure there are no line break/spaces before the actual data.

[2021-01-11 16:54] bonxz commented on #25
Oh yea wups.

Yes I had to redeploy the app because via Heroku CLI the update did not work correctly

[2021-01-11 16:54] #25 closed

[2021-01-11 17:14] quiet69 opened #26 "a huge block of error"
so after the latest commit, i get this weird block of error. i also verified that there's no spaces in the variables.
![image](https://user-images.githubusercontent.com/43907678/104215246-8631c600-545e-11eb-998d-5aeae18e38e3.png)

[2021-01-11 17:25] GiorgioBrux commented on #26
Should be fixed with 884112e

[2021-01-11 17:25] #26 closed

[2021-01-11 17:27] GiorgioBrux commented on #14
Implemented sites:

- [X] privnote.com
- [ ] hastebin.com
- [ ] safenote.co
- [ ] temp.pm
- [ ] hastebin.com

[2021-01-11 17:40] GiorgioBrux opened #27 "Automatically stop sniping after getting X months of nitro"

[2021-01-11 18:53] iiLeafy opened #28 "Appreciation"
This isnt a issue, but really just appreciation on how much dedication you put into this, everyday you do multiple commits either bug fixes, or updates and also many features which other snipers dont have, but also I have a feature which ill suggest is support for invalid, fake and already redeemed webhook messages either on the same webhook option or add more options in the dotenv.

Thank you for

[2021-01-11 19:01] 7fe2752182d43f856b49a802e36d597c78ae87b commented on #23
The Discord web/app client sends `{channel_id: null, payment_source_id: null}` in the request payload when redeeming. Unsure if this prevents the bug but seems related.
Some other snipers fill in the channel_id and payment_source automatically, possibly to make the request look more 'real'.

[2021-01-11 19:04] GiorgioBrux commented on #28
I'm truly happy my work is appreciated, thanks <3

I plan to eventually add everything that seems proper.
If you have any good idea that isn't an issue already, feel free to open an issue (remember, one separate issue each!).

Will close this, but thanks for taking the time to write a message out!

[2021-01-11 19:04] #28 closed

[2021-01-11 19:08] #21 closed

[2021-01-11 19:09] GiorgioBrux commented on #21
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-11 19:11] ManualMap opened #29 "Add webhooks for failed code redeems"
I didnt know how to title it properly, but could you add something like more options in dotenv like

webhookFake:"webhook for fake"
and same for invalid and already redeemed

and it can be optional

[2021-01-11 19:18] #19 closed

[2021-01-11 19:19] GiorgioBrux commented on #19
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-11 19:21] GiorgioBrux commented on #29
I can do that, but is it really useful?

Will keep this as a low-priority thing.

[2021-01-11 19:23] iiLeafy commented on #29
idk for others but ignits useful for me to see stuff without going to like heroku and stuff

[2021-01-11 19:33] GiorgioBrux commented on #23
Interesting, going to bed but will see tomorrow if they make a difference.

Anyway, if the discord web/app fills them, we should fill them too regardless to make it look more realistic.

[2021-01-11 21:14] iiLeafy opened #30 "quickie change"
hey could you please add | to the obfuscation check as in spoilers it wont work properly as it keeps the last 2 || [this is in embeds so idk about normally]

[2021-01-12 05:30] #30 closed

[2021-01-12 05:30] GiorgioBrux commented on #30
Fixed, thanks for reporting!

[2021-01-12 05:31] GiorgioBrux commented on #30
:tada: This issue has been resolved in version 1.4.3 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.4.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-12 14:30] bonxz commented on #21
Thanks for adding the function already. But I still have one optimization. You have made it now only for the Alt Tokens. Could you also add it for the Main Token?

[2021-01-12 19:32] bonxz opened #31 "XBOX Games Codes?"
Recently, I have often now already received the message that I need a payment method. Have also seen other Sniper programs that have a workaround.

Xbox codes can apparently not be redeemed on all accounts

`2021-01-12T18:40:45.844129+00:00 app[worker.1]: [Nitro Sniper] (ERROR) Tried to redeem code [3ytqzG7kAQYw6kM2xHpbPSat] but got error: Payment source required to redeem gift..`

The codes also

[2021-01-12 21:19] GiorgioBrux commented on #31
That explains it.

If possible, can you share the workaround you've seen, so I can implement it here too?
That code is 24 characters, if you have seen something longer tell me and I will change the value in the sniper.

Thanks

[2021-01-12 21:21] #24 closed

[2021-01-12 21:22] GiorgioBrux commented on #24
:tada: This issue has been resolved in version 1.5.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-13 14:31] bonxz commented on #31
[](https://github.com/noto-rious/Nitro.Self-V3/issues/8)

Maybe this link can help you out.

[2021-01-13 14:33] bonxz opened #33 "Main Token Status too"
Thanks for adding the function already. But I still have one optimization. You have made it now only for the Alt Tokens. Could you also add it for the Main Token?

_Originally posted by @bonxz in https://github.com/GiorgioBrux/nitro-sniper-enhanced/issues/21#issuecomment-758693644_

[2021-01-13 18:45] brams1441 opened #34 "Alt accounts appearing offline"
Alt accounts are appearing offline although i made sure that the status is on online. The accounts logs into the sniper perfectly.

Once it logs into the sniper it appears offline in discord

[2021-01-13 18:47] brams1441 commented on #33
Yeah i think it would be nice to have an option like that

[2021-01-13 19:26] bonxz commented on #34
Can confirm that. Does not work.

[2021-01-13 20:40] #23 closed

[2021-01-13 20:40] #31 closed

[2021-01-13 20:42] GiorgioBrux commented on #23
:tada: This issue has been resolved in version 1.5.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-13 20:42] GiorgioBrux commented on #31
:tada: This issue has been resolved in version 1.5.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-14 08:30] bonxz opened #35 "[1.5.1] No Payment source"
The new version doesn't seem to work quite right after all. I have not entered a payment method on my Main Token and as soon as I start the bot, it crashes immediately.

[code]

before, i could use the bot without a payment method.

[2021-01-14 08:31] bonxz commented on #35
before, i could use the bot without a payment method.

[2021-01-14 10:10] GiorgioBrux commented on #35
You are right, will make it so it's possible to use the sniper without the billing source in the next update,

[2021-01-14 10:24] #35 closed

[2021-01-14 10:25] GiorgioBrux commented on #35
:tada: This issue has been resolved in version 1.5.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.5.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-15 03:40] AllinolCP opened #36 "Error 400 trying to redeem sniped code"
![Screenshot_20210115-103904_Chrome](https://user-images.githubusercontent.com/56921534/104678431-03d72980-571e-11eb-9b03-457f5d16cfe0.png)

[2021-01-15 08:05] bonxz commented on #36
I have also noticed this and since the last update, the fake codes are no longer recognised correctly. It tries to check many fake codes.

`2021-01-15T06:34:30.881029+00:00 app[worker.1]: [Nitro Sniper] (ERROR) Tried to redeem code [givenitropleaseiampoor] but got error: 400: Bad Request `

[2021-01-15 10:06] GiorgioBrux commented on #36
Fixed the fake codes issue in dafbbe67f39b9964437ccc8a1cbfa787b46d53c2.

[2021-01-15 12:18] bonxz commented on #36
It still doesn't work properly.
Now, for example, it declared a code as fake but it was a real code.

`2021-01-15T12:12:52.006720+00:00 app[worker.1]: [Nitro Sniper] [+] Sniped [7aczqUzfUXamwC2j] - Fake Code - ***** from fitzo#****.`

![nitro](https://user-images.githubusercontent.com/61289944/104726549-270cd380-5734-11eb-8b98-9cedc9a59142.png)

[2021-01-15 12:20] bonxz commented on #36
Also, the ms seconds no longer show in the log since the last or penultimate patch.

[2021-01-15 12:55] GiorgioBrux commented on #36
@bonxz Big oof, sorry. Should be fixed 55f5011. The ms should still show on the errors where they matter. Will add them to all for consistency later.

[2021-01-15 16:29] #36 closed

[2021-01-15 16:31] GiorgioBrux commented on #36
:tada: This issue has been resolved in version 1.5.6 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.5.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-15 17:16] sonicm35 opened #38 "Sync Github's repository to Heroku..."
Hey,
Please, help ...

**Issue:**
How i sync Github's repository to Heroku...
I mean whenever the code change to Github's repo... than how automatically it can also be change on heroku app...? & i don't need to create new Heroku app again & again.
it would be highly appreciate to solve this issue.

I hope you'll understand,
Ty.

[2021-01-15 17:41] bonxz commented on #38
https://github.com/GiorgioBrux/nitro-sniper-enhanced/issues/7#issuecomment-692116471

[2021-01-15 17:44] bonxz commented on #36
I think this hasn't been fixed properly yet. There are too many codes that just give a wrong result.
Like this again here
`2021-01-15T17:37:31.610092+00:00 app[worker.1]: [Nitro Sniper] [+] Sniped [8kwtsuA3CZmFg9mMd8Wrnays] - Fake Code - Microsoft Community from Michael Afton#2786.`
![nitro1](https://user-images.githubusercontent.com/61289944/104760400-9816b000-5761-11eb-8fe0-9c596b14af30.png)

Bu

[2021-01-15 17:45] bonxz commented on #36
I think this hasn't been fixed properly yet. There are too many codes that just give a wrong result.
Like this again here
`2021-01-15T17:37:31.610092+00:00 app[worker.1]: [Nitro Sniper] [+] Sniped [8kwtsuA3CZmFg9mMd8Wrnays] - Fake Code - ***** from Michael Afton#****.`
![nitro1](https://user-images.githubusercontent.com/61289944/104760400-9816b000-5761-11eb-8fe0-9c596b14af30.png)

But when I accep

[2021-01-15 17:52] bonxz commented on #38
If you want it to be automatic, you can also copy the repository and use the Github pull bot (https://github.com/apps/pull) to automatically update it whenever a new Update.
You can then add your own repository to Heroku and an update will be made there automatically and the bot will also be started again.

[2021-01-15 18:55] GiorgioBrux commented on #38
Basically what @bonxz said. I thought about adding some code for auto-updates but ultimately decided against it.
Will maybe add instructions to setup the fork+the pull bot in the readme, but it isn't difficult.

If you have any problem feel free to open another issue!

[2021-01-15 18:55] #38 closed

[2021-01-15 19:08] bonxz opened #39 "Error 400 trying to redeem sniped code #36"
I think this hasn't been fixed properly yet. There are too many codes that just give a wrong result.
Like this again here
`2021-01-15T17:37:31.610092+00:00 app[worker.1]: [Nitro Sniper] [+] Sniped [8kwtsuA3CZmFg9mMd8Wrnays] - Fake Code - ***** from Michael Afton#****.`
![nitro1](https://user-images.githubusercontent.com/61289944/104760736-29862200-5762-11eb-8856-3f0abe8de985.png)

But when I accep

[2021-01-15 19:19] GiorgioBrux commented on #39
Regarding the legitimacyCheck, disable it for now. I will fix the error values tonight once and for all (hopefully).

If you can't redeem the code using the discord web app/client there is nothing we can do to make it work in the sniper, I don't know what that code is.

I do, don't worry :)

[2021-01-15 20:18] ghost-42-tech opened #40 "Main token not valid: 401: Unauthorized."
First startup ever, alt token goes fine, but then the following happens

[code]
might be my own wrong doing, but not sure

Edit: i got the token the same way i got the alts token, i used the application section of chrome devtools, and i pasted it in to the config var

[2021-01-15 21:21] GiorgioBrux commented on #40
Weird, do you have 2FA enabled? Try with a different token and see if it works.

[2021-01-15 21:56] ghost-42-tech commented on #40
nope, no 2fa. ill try another token

[2021-01-15 22:03] ghost-42-tech commented on #40
Alr tried it with the alts token, same thing

[2021-01-15 22:05] GiorgioBrux commented on #40
So the same token works in the guildTokens field but not in the mainToken one?

[2021-01-15 22:16] ghost-42-tech commented on #40
heres the log with the tokens removed

2021-01-15T22:02:46.898724+00:00 app[worker.1]: [Nitro Sniper] (INFO) Welcome!
2021-01-15T22:02:46.899171+00:00 app[worker.1]: [Nitro Sniper] (INFO) Running version 1.5.6.
2021-01-15T22:02:46.899555+00:00 app[worker.1]: [Nitro Sniper] (INFO) This program is licensed under GPL-3.0-or-later and provided free of charge at https://github.com/GiorgioBrux/nitro-sni

[2021-01-16 00:10] GiorgioBrux commented on #40
Very weird, on my end everything still works. You are sure the token is valid, right?

[2021-01-16 18:52] ghost-42-tech commented on #40
do i paste WIth the qoutes or without them, also, maybe im getting the token the wrong way? i get it from the dev console under the application menu

[2021-01-16 18:54] GiorgioBrux commented on #40
paste it without quotes. The dev console method is fine but I don't know how you do it specifically, so maybe search for some guide,

[2021-01-16 18:55] ghost-42-tech commented on #40
alr well ive been doing it without qoutes, maybe i am doing something wrong

[2021-01-16 19:06] ghost-42-tech commented on #40
well its workin now, guess i did smthin wrong, mb

[2021-01-16 19:24] #40 closed

[2021-01-16 19:32] GiorgioBrux commented on #40
no worries, if you have any problem feel free to open another issue :)

[2021-01-16 19:32] sonicm35 opened #41 "[Suggestion] Add pings to webhooks"
Add an option to allow a user to be pinged in the webhook. :)

[2021-01-16 19:34] GiorgioBrux commented on #39
legitimacyCheck should be finally fixed in 0645a6a, so you can put it back on if you want.

Regarding the error 400, I'll keep this issue open for that. If anyone has more info write here please.

[2021-01-18 18:04] sonicm35 opened #42 "[Suggestion] repl.it support"
Hey..
Can you add support for __**https://repl.it/**__ as like heroku...
i mean, want to host that code on repl.it...
How can i do that?
or add some details in README.

[2021-01-19 03:54] 7fe2752182d43f856b49a802e36d597c78ae87b commented on #39
Error 400 is related to the "bad request" returned by the server for the invalid json sent with channel_id and payment_source_id. This seems to be more about the legitimacyCheck detecting fake codes.
The screenshot provided showing "Something funky happened..." is a special message on the web client for an unknown error returned by the discord API. It's likely not a special code, possibly a once-o

[2021-01-19 08:38] GiorgioBrux commented on #42
Look up some guides online, I have never used that.
Will add when I finish with other issues.

[2021-01-19 08:39] GiorgioBrux commented on #39
I guess we can retry but I don't feel comfortable doing that until I implement rate limits.

[2021-01-20 18:36] sonicm35 opened #43 "Only snipe classic or nitro codes"
An option to Snipe only Classic codes "when activated" via nitro-code length;
&
Option to Snipe only Nitro boost code "when activated" via nitro-code length.

[2021-01-20 18:45] iiLeafy commented on #43
Why though, it seems really useless.

[2021-01-21 19:58] sonicm35 opened #44 "help..."
**Need v3.1.0 badly...**
![image](https://user-images.githubusercontent.com/38960451/105405235-be9a8680-5c4c-11eb-926a-417faf6f6494.png)

[2021-01-22 07:01] brams1441 commented on #44
I'm confused, what do you need help with?

[2021-01-22 14:48] #44 closed

[2021-01-22 15:00] sonicm35 commented on #44
Can you please share that code? or link ...

[2021-01-22 19:24] sonicm35 opened #45 "issues/44"
https://github.com/GiorgioBrux/nitro-sniper-enhanced/issues/44#issuecomment-765453822
Can i get the code or link to this version pls...

[2021-01-22 22:50] GiorgioBrux commented on #45
Just go back using the commit history and you'll find it.

[2021-01-22 22:50] #45 closed

[2021-01-25 07:57] #41 closed

[2021-01-25 07:58] GiorgioBrux commented on #41
I've added the feature only for nitro webhooks because no one would want to get pinged for every note, right?

[2021-01-25 07:58] GiorgioBrux commented on #41
:tada: This issue has been resolved in version 1.6.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-25 08:35] #34 closed

[2021-01-25 08:36] GiorgioBrux commented on #34
:tada: This issue has been resolved in version 1.6.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.6.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-25 09:07] DarkGD123 opened #46 "Snipes 0 servers"
After i updated the tool it detects 0 servers

[2021-01-25 09:35] DarkGD123 commented on #46
Here's the log if needed `[Nitro Sniper] (INFO) Main token valid: Yeet#2560 - Sniping in 0 servers.
2021-01-25T09:11:11.072178+00:00 app[worker.1]: [Nitro Sniper] [+] Sniped [18278282was] - Invalid - undefined from Farhad#9999 - 63ms.
2021-01-25T09:12:03.671106+00:00 app[worker.1]: [Nitro Sniper] [+] Sniped [gXbcuBQHkUf6cwvz] - Invalid - undefined from Farhad#9999 - 66ms.`

[2021-01-25 10:50] #46 closed

[2021-01-25 10:51] GiorgioBrux commented on #46
:tada: This issue has been resolved in version 1.6.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.6.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-25 12:52] DarkGD123 commented on #42
Isnt repl.it repos are public?

[2021-01-25 16:49] GiorgioBrux commented on #43
I don't think nitro classic and normal have different code lengths, but maybe I misunderstood what you want. Can you explain it more clearly?

[2021-01-25 17:21] sonicm35 opened #47 "bug"
![image](https://user-images.githubusercontent.com/38960451/105740780-57861600-5f5b-11eb-8a0f-344ae10a7850.png)
![image](https://i.imgur.com/tKt47E5.png)
![image](https://i.imgur.com/Y5osUgZ.png)
https://github.com/GiorgioBrux/nitro-sniper-enhanced/issues/41#issuecomment-766625243

[2021-01-25 18:47] GiorgioBrux commented on #47
Fixed the heroku problem with f36b445eabd3959352f6ced8c116b115cb9e4f18 and 330b0a1a7fbae69a19b8865d95594913fa8fc848. Regarding the first two screens, what node version are you on?

[2021-01-26 13:18] formulayyy opened #48 "not sniping anymore"
hello i've noticed that the sniper isn't sniping any codes anymore. it just shows the codes that are being sniped none of them get redeemed. i used to get 1-2 nitros everyday but now it's zero, it's been like that for more than a week now. i have the old version. i switched to the new one on another account just to test but no luck sadly. any help wil be greatly appreciated.

[2021-01-26 15:18] brams1441 commented on #48
Sniping is just based on luck tbh, last time i claimed nitro was 8 days ago. What you can do is join more servers or add some alts

[2021-01-26 15:20] brams1441 commented on #42
You can pay $5 for private repos

[2021-01-26 15:40] SammCheese commented on #47
v12.16.3

[2021-01-26 16:18] GiorgioBrux commented on #48
I doubt the problem is the sniper but as brams said it's probably just bad luck. If you know for sure there is a problem in the redeeming process open another issue.

[2021-01-26 16:18] #48 closed

[2021-01-26 16:19] GiorgioBrux commented on #47
@SammCheese that's probably the problem. Try with nodejs 14.x

[2021-01-30 10:28] IzukuMidoriyaPHP opened #49 "webhook for redeemed nitro"
webhook for already redeemed nitros?

[2021-01-30 10:36] IzukuMidoriyaPHP commented on #49
like failed to redeem nitros i mean

[2021-01-30 22:37] brams1441 commented on #49
I don think that will be useful, why would you need to know the codes that didnt work?

[2021-02-05 17:45] GiorgioBrux commented on #49
Unless I misunderstood, this is a duplicate of #29 so I'm closing.

[2021-02-05 17:45] #49 closed

[2021-02-05 17:46] GiorgioBrux commented on #47
Closing this because it's stale. If someone has a similar problem, open another issue please.

[2021-02-05 17:46] #47 closed

[2021-02-07 07:56] DarkGD123 commented on #42
Hmm... Seems interesting

[2021-02-07 07:57] iiLeafy commented on #42
the code is public, but u can use a dotenv file which will be hidden, but i think it has to be .env not dotenv, not really sure

[2021-02-07 08:08] DarkGD123 commented on #42
https://docs.repl.it/repls/secret-keys

[2021-02-07 16:42] GiorgioBrux commented on #42
The problem I think with repl.it is that (at least when I tried it) they used an old node version which isn't supported by discord.js v12. I will look into it again asap tho.

[2021-02-07 18:44] slow commented on #43
This is possible but with a very big sacrifice. Nitro codes cannot be distinguished without fetching the code info which by then, you already lose the nitro to another sniper.

[2021-02-07 18:47] slow commented on #33
This is not possible unless the sniper is logged in on the main account, as `useMain` is an option this could be added but if its off it would be a very useless variable.

This would just cause cluttered env variables on heroku, i haven't looked at the code for the status but i am guessing that it uses the same status that you specified for your alts.

[2021-02-07 18:48] slow commented on #11
Should be fixed in `f11f102`

[2021-02-15 09:22] ibndiaye opened #50 "Will this nitro sniper be discontinued?"
I tried hosting it on heroku and i get this error.
![image](https://user-images.githubusercontent.com/63436162/107927771-bf86b580-6f77-11eb-8679-c4b69a810782.png)

And i recently saw that you forked another sniper

Im just curious

[2021-02-15 15:53] stressatoo-lang opened #51 "Heroku link not working"
**Heroku button isn't working**, so I created a new one by editing nitro-sniper to nitro-sniper-enhanced

New one is:
https://dashboard.heroku.com/new?button-url=https%3A%2F%2Fgithub.com%2Fgiorgiobrux%2Fnitro-sniper-enhanced&template=https%3A%2F%2Fgithub.com%2Fgiorgiobrux%2Fnitro-sniper-enhanced%2Ftree%2Fmaster

P.S.: I'm also Italian, big fan.

[2021-02-19 13:57] GiorgioBrux commented on #50
Hi, I don't plan on discontinuing this sniper for now. Eventually, I will probably migrate to the new slow's base, but I will still use this repo. Will deal with the heroku issue on #51.

[2021-02-19 13:57] #50 closed

[2021-02-20 14:11] GiorgioBrux commented on #51
Thanks, I didn't notice.

I'm happy that other Italians use my sniper <3

[2021-02-20 14:11] #51 closed

[2021-02-20 19:06] GiorgioBrux opened #52 "Sniper doesn't start"
I'm aware of the current problem with intents. I will fix it asap.

[2021-02-20 19:17] GiorgioBrux commented on #52
Fixed in e34af7d98b8475d0e2d21050adeb0f4cd854a0ef

[2021-02-20 19:17] #52 closed

[2021-02-20 19:22] GiorgioBrux commented on #11
Indeed it is, thanks!

[2021-02-20 19:23] #11 closed

[2021-02-20 19:24] GiorgioBrux commented on #11
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-20 21:09] GiorgioBrux commented on #14
:tada: This issue has been resolved in version 1.8.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-20 21:09] #5 closed

[2021-02-20 21:10] GiorgioBrux commented on #14
Didn't want to close this, my bad.

[2021-02-20 23:00] ibndiaye opened #53 "When deploying on heroku you encounter an error"
Hello I tried deploying the sniper and when I do I get this error.

![image](https://user-images.githubusercontent.com/63436162/108610653-acd90a00-73d7-11eb-8012-f68fcb4d5e75.png)

Do you know how to fix this?

[2021-02-20 23:28] DarkGD123 commented on #53
i had that problem as well

[2021-02-21 09:42] GiorgioBrux commented on #53
Hi, could you confirm if there is the same issue with b9e51bca2c6f181975a2c88906edbaebc86bb546?

[2021-02-21 09:58] DarkGD123 commented on #53
It works normally now, how about you @ibndiaye is it working?

[2021-02-21 10:19] ibndiaye commented on #53
@DarkGD123 I'll give it another try

[2021-02-21 10:25] ibndiaye commented on #53
@GiorgioBrux I just deployed and no issues, thanks for fixing the issue so quickly!

[2021-02-21 10:28] GiorgioBrux commented on #53
Thank you for opening an issue, have a nice Sunday everyone.

[2021-02-21 10:28] #53 closed

[2021-02-21 11:47] DarkGD123 opened #54 "Bitfield invalid"
Yeah

`2021-02-21T11:35:26.347136+00:00 app[worker.1]:     at new Role (/app/node_modules/discord.js/src/structures/Role.js:28:20)
2021-02-21T11:35:26.347137+00:00 app[worker.1]:     at RoleManager.add (/app/node_modules/discord.js/src/managers/BaseManager.js:49:32)
2021-02-21T11:35:26.347137+00:00 app[worker.1]:     at RoleManager.add (/app/node_modules/discord.js/src/managers/RoleManager.js:30:1

[2021-02-21 14:10] #42 closed

[2021-02-21 14:23] GiorgioBrux commented on #42
:tada: This issue has been resolved in version 1.8.3 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.8.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-21 14:28] GiorgioBrux commented on #54
@DarkGD123 Can you give me the env variables you are using (replacing the sensible parts with asterisks or similar)?

[2021-02-21 14:36] quiet69 commented on #54
i'm getting the same issue
​https://quiet-sent.thigh.pics/emEC61411.png

[2021-02-21 14:57] GiorgioBrux commented on #54
Thanks @quiet69 , if anyone has the full error I would be really grateful because for some reason I can't reproduce it on my local installation.

[2021-02-21 15:29] quiet69 commented on #54
@GiorgioBrux ​https://quiet-sent.thigh.pics/emf8B70Bd.png

[2021-02-21 16:07] GiorgioBrux commented on #54
It probably won't fix it, but can you try with the latest version (v.1.8.5) just to be sure?

[2021-02-21 16:16] sonicm35 commented on #54
[code]
Same error with v1.8.5

[2021-02-21 17:58] GiorgioBrux commented on #54
Can someone try with 2bd5788044be6d0f8acc102cda31b026f4f7e00d? Sorry but again I still can't reproduce it so I'm a bit lost.

[2021-02-21 18:17] quiet69 commented on #54
nope same issue... try these solutions maybe?
https://stackoverflow.com/questions/63441875/rangeerror-bitfield-invalid-when-checking-for-permission-overwrites-discord-j
https://stackoverflow.com/questions/63522829/rangeerror-bitfield-invalid-invalid-bitfield-flag-or-number

[2021-02-21 21:44] FoxsCode opened #55 "Heroku deploy error"
Every time i try to deploy this is what i get:
![image](https://user-images.githubusercontent.com/79219650/108639727-46ff8780-7496-11eb-840d-c5daa4823ea4.png)

[2021-02-21 21:58] #55 closed

[2021-02-21 22:27] GiorgioBrux commented on #54
Thanks for taking the time for doing some research but this is a likely problem with my fork of discord.js. I've reverted back the newest changes, can you check it again?

[2021-02-21 22:57] DarkGD123 commented on #54
[Offtopic]

Can i use `attachment://` for the custom webhook avatar?

[2021-02-21 22:58] GiorgioBrux commented on #54
No idea. Just upload to imgur and then use that url.

[2021-02-21 23:00] DarkGD123 commented on #54
Ah ok then, thanks

[2021-02-21 23:09] GiorgioBrux commented on #54
Anyway some people have told me it's fixed, so I'm closing this issue. If it still happens to anyone, send a message and I will reopen.

[2021-02-21 23:09] #54 closed

[2021-02-22 07:13] OAuthorization opened #56 "dotenv"
im on phone and too lazy to pull request but in the dotenv file you mixed up maintoken and guildtoken comments.

[2021-02-22 07:16] GiorgioBrux commented on #56
This is what happens when you do things and are sleepy. Thanks, will fix in a sec.

[2021-02-22 07:17] #56 closed

[2021-02-23 09:59] GiorgioBrux commented on #56
:tada: This issue has been resolved in version 1.9.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.9.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-23 21:58] DarkGD123 opened #57 "Repeatedly Reconnecting"
`2021-02-23T18:42:00.567110+00:00 app[worker.1]: [Nitro Sniper] (INFO) Attempting to reconnect token [NTI4ODUzNz...].
2021-02-23T18:42:00.656575+00:00 app[worker.1]: [Nitro Sniper] (INFO) Token [NTI4ODUzNz...] reconnected successfully!
2021-02-23T18:47:47.030442+00:00 app[worker.1]: [Nitro Sniper] (INFO) Attempting to reconnect token [Nzk1MDc1Mj...].
2021-02-23T18:47:47.329620+00:00 app[worker.1]:

[2021-02-23 22:41] GiorgioBrux commented on #57
It's a bug but it's harmless, don't worry. Ignore the messages until I fix.

[2021-02-23 22:43] DarkGD123 commented on #57
ok then, thanks for responding

[2021-02-24 01:10] Atranip opened #58 "Files"
After sniping a privnote it says Saved to file ./notes/privnote-XXXXXXXX.txt where can i access it?

[2021-02-24 01:13] DarkGD123 commented on #58
i think you cant access it unless you do something like on heroku git, or on repl.it you can see it and view it..

i dont really know how to access nor read my files in heroku cuz i mostly use repl.it but heroku is good

[2021-02-24 01:17] Atranip commented on #58
oh

[2021-02-24 01:17] #58 closed

[2021-02-24 01:19] Atranip opened #59 "files(2)"
sorry i accedentally accidentally closed the other one
After sniping a privnote it says Saved to file ./notes/privnote-XXXXXXXX.txt where can i access it?
its on heroku

[2021-02-24 03:51] #59 closed

[2021-03-08 21:46] DarkGD123 opened #60 "General Question [alts]"
How do you actually split tokens in `guildTokens` in the `dotenv` file

[2021-03-12 05:34] stop-bark commented on #60
"token1, token2, token3"

[2021-03-12 06:05] #60 closed

[2021-03-15 11:00] NicheVulcan opened #61 "Token LOGGERS Join that server in which WEBHOOKS are, THEY tried to hack my account,"
HEY
I set a webhook while deploying the app on Heroku, but when a code sniped, a webhook sent a message BUT someone else also joined the server from nowhere IDK from where but he was giving tip to never share token to anyone BUT he gained trust. He made a profile picture for me. He gave me a link to download the pic but MY IP, My phone number, my account token LOGGED and HE misused my account, my

[2021-03-15 11:03] NicheVulcan commented on #61
also, the app keeps crashing on Heroku, I saw the error on LOGS

[2021-03-15 11:13] NicheVulcan opened #62 "App keeps crashing on Heroku"
Hi,
the sniper gives errors on Heroku logs whenever I close my Discord tab. It says the app crashed with status 401 or something. I can not give a screenshot because I deleted the app because of token loggers going around nowadays and my account got hacked by them, I told you about that issue earlier.

[2021-03-15 11:24] DarkGD123 commented on #61
Probably you just leaked your server invite

[2021-03-15 12:42] NicheVulcan commented on #61
NO BRO I never even created any invite link of that server

[2021-03-16 06:59] GiorgioBrux commented on #61
Someone got your token by other means, make sure your pc is clean. The sniper is not hijacked or anything.

[2021-03-16 06:59] #61 closed

[2021-03-16 07:00] GiorgioBrux commented on #62
Will keep this open for a while, if someone has the same issue please post logs.

[2021-03-16 08:24] NicheVulcan commented on #62
but bro what about the token loggers who interfare between the sniping process? my account is in danger please do actions on those hackers

[2021-03-16 08:31] #57 closed

[2021-03-16 08:31] GiorgioBrux commented on #57
Should be fixed, if it keeps on happening please send a message.

[2021-03-16 08:31] GiorgioBrux commented on #57
:tada: This issue has been resolved in version 1.9.3 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.9.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-16 08:34] GiorgioBrux commented on #62
@NicheVulcan

1. This isn't the right issue.
2. The sniper is completely safe (it's even opensource, you can check for yourself), so either someone hacked your heroku account or got your token by other means.

[2021-03-16 08:45] NicheVulcan commented on #62
thanks for making me realize that the sniper is safe. but the incident that happened to me some days ago was horrible. someone named itSguYs joined my server in which the webhook was enabled. I didn't even create any invite link of that webhook server but when the code has sniped, someone joined that server and told me that he is a developer from replit and all. I had enabled an option on Heroku t

[2021-03-16 08:55] DarkGD123 commented on #57
Thanks, its fix now also one thing

How do i split tokens in the guildTokens part, i got confused

[2021-03-16 13:19] GiorgioBrux commented on #62
@NicheVulcan

1. Again, this is not the right issue.
2. If you didn't create any invite, no one had invite perms other than you and someone joined your server, then your token was leaked. Check that you don't have any token stealer on your pc and that all places where your token may be stored are safe (heroku, etc.).

[2021-03-16 13:20] GiorgioBrux commented on #57
@DarkGD123 split them using a comma. So put the first token, the comma, the second (and repeat). No spaces

[2021-03-16 23:18] DarkGD123 commented on #57
Thanks it worked

[2021-03-20 20:47] stop-bark commented on #61
Is it also possible that repl.it just didn't hide the token?

[2021-03-21 10:10] stop-bark commented on #14
hastebin will be useless, as you really cant save anything, its really broken

[2021-03-22 19:05] ManualMap opened #63 "Auto-fetching user agent on heroku"
So if you host it on heroku, and whenever it attempts to get the user agent on there it just returns
`[Nitro Sniper] (ERROR) There was an error fetching the latest chrome user agent: Error: Request failed with status code 403. Using default...`
If you host it locally no problem, on repl.it I'm not sure.

[2021-03-22 22:21] DarkGD123 commented on #63
It works sometimes on repl.it

[2021-03-30 04:44] WoahLotusX opened #66 "How to use on repl.it"
I installed  through repl.it do I just click run now?

[2021-03-31 12:26] ItzMeAakash opened #67 "Many friends say that im ignoring them due to 24/7 DND mode"
hey, due to the sniper im always on DND and i have some problems and my friends feel like im ignoring them... is there any way to make me invisible when im not using Discord? the option where guildtokenstatus i put to "invisible" it dosent works because i use through main token..

can i do one thing?

- set UseMain to False
- set my alt's token in Main Token and that acct dosent join any server
-

[2021-03-31 15:20] GiorgioBrux commented on #67
If you set `useMain` to false, it won't be used for sniping but codes will still be redeemed there.

At the moment, the tokenStatus applies only to guild tokens. For the main token, there is already a feature request open (#33).

The DND thing is weird though. Try to stop the sniper, go online manually (so remove dnd), wait ~10 minutes and start the sniper again. Then quit your discord client and

[2021-04-01 04:57] ItzMeAakash commented on #67
yes it's still DND. but i have an experiment, that, if i made these changes:

MainToken - my alt
i will put my alt token to main token, and that account will not join any server so it is impossible to get nitro to it

GuildToken - My token
now, my main account will be set to guild toke

guildTokenStatus - invisible
so i had put my main token in guild token so obviously i will be offline whenever i

[2021-04-01 05:19] stop-bark commented on #67
but it claims from guildtoken onto maintoken, so it will claim on ur alt

[2021-04-01 05:43] ItzMeAakash commented on #67
but what if i set UseMain to false

[2021-04-01 05:44] ItzMeAakash commented on #67
@GiorgioBrux i request you to please add status for MainToken too. ☺️

[2021-04-01 06:24] stop-bark commented on #67
that just disables using main to snipe, it will still claim from alt to main

[2021-04-01 06:33] DarkGD123 commented on #67
Just set it to invisible or offline

[2021-04-01 08:30] formulayyy opened #68 "getting this error for some days now"
![image](https://user-images.githubusercontent.com/71617943/113266148-57edb500-92ee-11eb-8192-b8104a3d6d40.png)

ive been getting this error whenever i try to start the sniper

[2021-04-01 08:32] DarkGD123 commented on #68
I never gotten this error.. Hmmm

[2021-04-01 09:00] formulayyy commented on #68
i never used to get it either, it has started just now, apparently its been a week and idk what's causing it. ive tried resetting tokens and it still hasnt changed anything

[2021-04-01 09:01] stop-bark commented on #68
have you tried updating to the latest version

[2021-04-01 09:08] formulayyy commented on #68
it is updated to the latest version

[2021-04-01 10:54] GiorgioBrux commented on #68
Are you on node 14?

[2021-04-01 10:58] GiorgioBrux commented on #67
Again, there is already a feature request for MainToken status (#33).
I will work on this asap. If you want to continue this discussion do so on #33 as it's directly related.

[2021-04-01 10:58] #67 closed

[2021-04-01 13:18] formulayyy commented on #68
yes it's working on a new one, i just checked but the new one is slower than the older version which ive been using for a while. is there any fix for it or would i have to use the new one?

[2021-04-01 14:14] GiorgioBrux commented on #68
@formulayyy I really doubt it's slower because of the code, what version were you running?

[2021-04-01 14:24] formulayyy commented on #68
![IMG_20210401_192338.jpg](https://user-images.githubusercontent.com/71617943/113308612-c7c86380-931f-11eb-81ca-4ff31a265970.jpg)

this one, probably the oldest one I believe

[2021-04-01 17:06] GiorgioBrux commented on #68
Yeah that's very old, something like 3 months.
The main part of the code hasn't changed much, you can achieve the same speed as before by turning all the features off if you wish.

Closing this as you solved the original issue.

[2021-04-01 17:06] #68 closed

[2021-04-02 13:35] #33 closed

[2021-04-02 13:51] GiorgioBrux commented on #33
:tada: This issue has been resolved in version 1.10.0 :tada:

The release is available on [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-02 18:33] GiorgioBrux opened #69 "[BUG] Heroku not building"
**I'm submitting a ...**
- [X] bug report
- [ ] anything else => Please do not submit support requests here. Open a discussion instead and ping me.

**I'm running**
- [X] the latest version
- [ ] anything else => Please update to the latest version and retry.

I already know about the issue with heroku. I will try to fix asap.

[2021-04-02 18:57] GiorgioBrux commented on #69
Fixed.

[2021-04-02 18:57] #69 closed

[2021-04-02 18:58] GiorgioBrux opened #70 "[BUG] Wrong version printed"
I'm aware of the issue where the printed version is different than the actual one.

[2021-04-02 20:14] GiorgioBrux commented on #70
Should be fixed with the next release.

[2021-04-02 20:14] #70 closed

[2021-04-05 16:16] ItzMeAakash opened #78 "I'm DND Even after setting mainStatus to invisible"
I deployed the sniper oh Heroku some hours ago... I was invisible whenever i was not using Discord i've checked from my alt from another device. but after some hours when i was not using Discord i was in DND Mode with my status, even after clearing app from recent lists. I've checked the app isn't running on any other device with my account. Please fix it.

[2021-04-05 16:19] ItzMeAakash commented on #78
One more thing, my account went to invisible thank god. but it happens after some minutes after not using Discord. in other words,

If i stop using Discord then I'm DND for some minutes

just after some minutes i turn to Invisible.

can't it be instant output? it was working instantly when i was not using discord some hours ago, but the problem is happening now.

[2021-04-05 16:56] GiorgioBrux commented on #78
It might be possible, I will look into it. No guarantees though.

[2021-04-05 17:25] ItzMeAakash commented on #78
ok

[2021-04-05 18:25] #43 closed

[2021-04-11 06:35] nichevulcan20 opened #81 "App keeps crashing on heroku"
![image](https://user-images.githubusercontent.com/81959998/114294724-2333e780-9abe-11eb-8d0a-f99f9c738201.png)

as u can see this keeps crashing

[2021-04-12 12:28] GiorgioBrux commented on #81
Can you try to recreate the app and see if it still happens?

[2021-04-14 11:38] nichevulcan20 commented on #81
sure bro just some minutes...

[2021-04-24 08:21] GiorgioBrux commented on #81
Guess this is solved so I'm gonna close it.

[2021-04-24 08:21] #81 closed

[2021-04-24 08:22] GiorgioBrux commented on #66
Closing this, if you want to ask more questions check the discussion tab.

[2021-04-24 08:22] #66 closed

[2021-04-24 08:23] #62 closed

[2021-04-26 13:15] nichevulcan20 opened #88 "I keep logging out from my account on heroku"
I deployed the app on Heroku and then i closed that tab. after some hours when i come back i find that i'm logged out. i keep logging out automatically pls help

[2021-04-26 13:18] nichevulcan20 commented on #78
hey bro no need to fix this because this happens to my friends too that if they close discord then they're online/dnd/idle for some time. i also tried this to my alt which was sniper-free. however, my friends are also the only ones who can access their accounts.

[2021-04-28 20:43] GiorgioBrux commented on #78
Thanks @nichevulcan20, good to know. Will close this then.

[2021-04-28 20:43] #78 closed

[2021-05-03 02:58] DarkGD123 commented on #88
thats heroku itself

[2021-05-08 05:37] ItzMeAakash opened #91 "Is my token safe on repit?"
Is my token safe on repit? I mean i dont have replit premium, I cant make the repl private so it will be public. Can someone else see my token there? because this is risky to deploy sniper on replit but i dont want to deploy sniper on herko cuz i keep logging out. Please tell is my token visible in that repl if i deploy on replit? (i cant make private repl..)

[2021-05-09 05:45] nichevulcan20 opened #92 "an error occurs on replit - We couldn't reach your repl"
I'm using uptime robot to ping the repl but still it is giving the error..
and the error is-
**Hmmmm.... We Couldn't Reach Your Repl
Make sure your repl has a port open and is ready to receive HTTP traffic.**

this is the ss below-
![image](https://user-images.githubusercontent.com/81959998/117561826-c2490080-b0b7-11eb-8c20-ceb00ae354b5.png)

Also, i have set to use replit to true.

[2021-05-09 10:11] GiorgioBrux commented on #91
If anyone knows the name of your replit and your username they can see your token, yes. You can kinda workaround it by having a completely random username/repl name.

[2021-05-09 10:11] #91 closed

[2021-05-13 13:46] GiorgioBrux commented on #92
It happens on my replit instance too and I have no idea why.
Will look into it asap.

[2021-05-13 13:47] GiorgioBrux commented on #88
Not the sniper's fault, check your extensions and browser settings.

[2021-05-13 13:47] #88 closed

[2021-05-13 15:10] Volas171 opened #95 "Addapting to new update"
Discord changed the way they read messages, they now use a WebSocket for non bot users, therefore as the way it is currently it cant read messages.

[2021-05-13 20:09] GiorgioBrux commented on #95
Still works on my end, doesn't it work for you?

[2021-05-13 20:21] Volas171 commented on #95
it kinda works as discord hasn't removed the API support yet but they will migrate to the WebSocket soon

[2021-05-13 20:24] GiorgioBrux commented on #95
I know that api v6 is deprecated, I will try to move to an higher version asap. Anyway this is a discord.js issue, so I opened an issue there.

[2021-05-13 20:24] #95 closed

[2021-05-13 20:24] Volas171 commented on #95
understandable have a nice day

[2021-05-13 20:28] GiorgioBrux commented on #95
Thanks for the heads up tho!

[2021-05-13 21:57] Volas171 commented on #95
no problem

[2021-05-14 22:25] Zuessss opened #98 "Can't Find File IDK"
it leaves this error in repl.it

[code]

[2021-05-15 16:32] GiorgioBrux commented on #98
Are you using the run button?

[2021-05-20 15:46] Najmul190 opened #101 "[BUG] Unexpected Token '.'"
**I'm submitting a**
- [X] bug report
- [ ] anything else => Please do not submit support requests here. Open a discussion instead and ping me.

**I'm running**
- [X] the latest version
- [ ] anything else => Please update to the latest version and retry.

**What is the expected behavior?**
It should actually run

**What is the current behavior?**
When I try run it locally, I get the error:
[code]

[2021-05-21 04:30] ItzMeAakash opened #102 "Bug is LOG related on Heroku"
When my friend deployed the sniper, he saw this error -
![unknown](https://user-images.githubusercontent.com/81690524/119082272-5a7da880-ba1b-11eb-9888-2946998c8f17.png)

[2021-05-25 11:10] GiorgioBrux commented on #101
Are you using node 14+?

[2021-05-25 11:11] GiorgioBrux commented on #102
That's probably unrelated to the sniper. Try to change region.

[2021-05-26 17:28] Najmul190 commented on #101
ah no i was using node 12, works now thanks

[2021-05-26 17:28] #101 closed

[2021-06-06 15:29] nichevulcan20 opened #106 "[Feature request] Autojoin giveaways-related features"
**Add a Giveaway Joiner and Host DMer. Wait lemme explain this**

- Add a timer to join giveaways like if a giveaway happens then we can join after x seconds (customizable)
- Add a feature in which if we win, we will dm the host some messages but after x seconds (customizable)
- Add a server joiner for the giveaway req feature if possible
- Add alt account support on it too, like if alt wins and g

[2021-06-06 15:33] nichevulcan20 commented on #102
ok bro it got fixed ty sorry for late reply

[2021-06-06 15:49] nichevulcan20 commented on #20
yes please! read my latest request on issues tab

[2021-06-06 16:00] nichevulcan20 commented on #61
bro never deploy the sniper on replit unless u have premium and ability to make repls private i got nuked under an hour after deploying on replit

[2021-06-06 17:56] GiorgioBrux commented on #106
Will look at these after I implement the main part of giveaway sniping (#20).

[2021-06-06 17:56] GiorgioBrux commented on #102
Nice.

[2021-06-06 17:56] #102 closed

[2021-06-07 05:24] nichevulcan20 commented on #106
yes bro TYSM BRO I LOVE U BROO

[2021-06-08 10:55] Laar-u commented on #61
if it is a .env then it will be hidden, eitherway i have my own rdp so i dont need repl.it

[2021-06-09 06:33] nichevulcan20 commented on #106
new features

- add an optional message after the code is redeemed from host
- add sendmessage delay after code has been redeemed to main account from alt

**please add all these features just after the improvement of the gw sniping its needed soo much cuz my friends also want this ;-;**

[2021-06-09 10:46] ItzBoiz commented on #106
YES WE EWANT THIS PLEASE

[2021-06-09 10:48] ItzBoiz opened #107 "YES PLEASE #106"
yes this is a good idea ( #106 )
PLEASE THIS IS MY REQUEST TOO

[2021-06-09 11:25] GiorgioBrux commented on #107
No point in opening a new issue to voice your support to an existing one. Next time simply react to the original message with a 👍.

[2021-06-09 11:25] #107 closed

[2021-06-10 17:15] nichevulcan20 opened #108 "error - tried to redeem code but the code cant be used in existing nitro subscription"
**idk but getting these errors**
![image](https://user-images.githubusercontent.com/81959998/121568546-70402580-ca3d-11eb-90a7-907f2d5dfa4f.png)

and also when i post the code then it is weird like this
![image](https://user-images.githubusercontent.com/81959998/121568676-8fd74e00-ca3d-11eb-91dd-69ff59f01521.png)

what's this pls tell, is this a glitched gift link?

[2021-06-10 17:17] GiorgioBrux commented on #108
It's the [epic promotion](https://www.epicgames.com/store/en-US/p/discord--discord-nitro) for 3 months free nitro. To redeem you must not have nitro now or have bought nitro in the past, which is why you can't redeem. Nothing to do with the sniper.

[2021-06-10 17:17] #108 closed

[2021-06-10 17:49] nichevulcan20 commented on #108
ohh ok bro thank you soo much

[2021-06-12 10:45] nichevulcan20 commented on #106
hey, @GiorgioBrux I was seeing @slow's nitro-sniper, but therein issues someone was saying that the sniper disabled their account due to the **invite sniper feature** so would it be safe to add those features to this sniper cuz I trust your sniper the most because this is the point, even I saw this is real, some of my friends got disabled while using other snipers like of even @SLOW! because they

[2021-06-12 11:00] nichevulcan20 opened #109 "[Question] useMain clarification"
hey I did this

- `useMain = true`
soo can I leave shit servers from my main account? I mean I will be staying in only 4 - 5 servers from the main account I don't wanna mess my account. and I will join 100 servers with my alt accounts. will it be fine? will my main still get nitro?

[2021-06-12 11:01] nichevulcan20 commented on #109
bruh am sorry that was a question and it got the bug label

[2021-06-12 11:04] nichevulcan20 commented on #27
but this wont be great i guess bro because

- if someone sets the limit to 2 months per day
- but sniper gets nitro yearly then rip

but yes the feature can be great if it gets changes to automatically stop after getting X codes, and it'll be stopped for how much time?

[2021-06-12 11:13] nichevulcan20 commented on #109
hey does this work?

[2021-06-12 11:13] nichevulcan20 commented on #109
i mean the situation which is entioned
in  message

[2021-06-12 11:14] GiorgioBrux commented on #109
Your main account will always get nitro. Setting useMain to true only means that your account is also used for sniping. If you are only on 4-5 servers and have a bunch of alt accounts it's probably not worth sniping from main.

[2021-06-12 11:16] nichevulcan20 commented on #109
the extract, i mean

my main wont join any servers for sniping
BUt my alts will join servers so will my alts redeem to main account when go nitro?

[2021-06-12 11:36] GiorgioBrux commented on #109
There is no automatic server joiner.
If useMain is set to true the main account is also used for sniping aka if someone sends a gift in the 4-5 servers you are in it will get sniped. Simple as that. All gifts are always redeemed on main.

[2021-06-12 11:45] nichevulcan20 commented on #109
bro
try to understand what am saying pls

Main account
- have joined servers of just friends
- no clutter servers for siping

Alt account

- have joined 100 large servers
- joined for snipng

Settings

- useMain is set to true
- bot the tokens (alts and main) are entered

Question-
will the main account get nitro from ALTS? because useMain is set to true.
Will alts actually redeem to main account

[2021-06-12 23:26] GiorgioBrux commented on #109
I've answered your question multiple times. **All gifts are always redeemed on main.**
What useMain does is use your main account for sniping too. If you have alts and are only in a very few servers on your main just set useMain to false.

[2021-06-13 12:35] ItzBoiz commented on #109
hmmm idk if he understood this but i got to know about this xd

[2021-06-13 12:36] ItzBoiz commented on #106
all the snipers are having risk but yes THIS sniper is super safe in my experience

[2021-06-13 22:33] GiorgioBrux commented on #109
Alright, I will try to make it as simple as possible.
Using an account for sniping means that that the program logs in the account and looks for codes in the messages that the account receives. All codes are then redeemed on your main. What useMain does is use your account for sniping too. I've made it optional because there is an increased risk that your account gets termed (albeit it's still ver

[2021-06-14 07:51] FeelsBadMan1 commented on #40
i have the same issure. anyone knows a solution?

[2021-06-18 08:32] nichevulcan20 commented on #109
ok im sorry i was out for some days... u can close it

[2021-06-18 08:34] #109 closed

[2021-06-18 08:37] nichevulcan20 commented on #98
hey hey use `run` button, or i guess u messed up with packages so remake the repl but by using `import from GitHub to recover and fix all the bugs.

[2021-06-23 19:20] GiorgioBrux commented on #98
Closing because it's stale. If someone else has the same issue please open a new one.

[2021-06-23 19:20] #98 closed

[2021-06-24 15:38] nichevulcan20 commented on #106
ye

[2021-06-28 12:55] ItzBoiz opened #112 "Is it safe to get 803ms pings?"
I got 803ms ping when a code was being sniped. is this safe to have so? or shall i leave that server

[2021-06-28 17:17] GiorgioBrux commented on #112
It's safe but it's high, if you can get a server with a better ping to discord's server then do it.

[2021-06-29 05:53] ItzBoiz commented on #112
oke so this means this was trying to redeem the code but was slow right? ahh its safe then tysm bro

[2021-06-29 05:53] ItzBoiz commented on #112
how do i close the issue xd

[2021-06-29 06:20] #112 closed

[2021-07-10 14:45] apexweeb opened #115 "[BUG] Issues related to heroku deployment"
**I'm submitting a ...**
- [.] bug report
- [ ] anything else => Please do not submit support requests here. Open a discussion instead and ping me.

**I'm running**
- [.] the latest version
- [ ] anything else => Please update to the latest version and retry.

**What is the expected behavior?**
A clear and concise explanation of the expected behavior.

**What is the current behavior?**
A clear and

[2021-07-11 11:38] ItzBoiz commented on #115
yes this is very annoying these salesforce bois aren't letting us to live happily.
The second option is to use on replit. BUT you can only deploy the sniper to replit IF U can make private repls.

[2021-07-11 11:38] ItzBoiz commented on #106
i dont like this shit

[2021-07-11 12:15] #106 closed

[2021-07-11 12:16] #92 closed

[2021-07-11 12:16] apexweeb commented on #115
Well isnt there ant solution to use it in heroku beacuse the other snipers have issue called "payment source required to redeem gift"

[2021-07-14 06:54] nichevulcan20 commented on #115
Python Nitro snipers aren't banned on heroku its a good news but the developers of those snipers are inactie. also for payment methods we can use nasmo ccgen website and for checker nasmo checker and for address we can use fakeaddressgenerator

[2021-07-14 06:57] nichevulcan20 opened #119 "Here's a good news: Nitro snipers coded in Python aren't blocked by Heroku."
Can you make a new project (Nitro Sniper) that will be in Python? Don't delete the Nitro Sniper Enhanced project but yes Python Nitro snipers are really working on Heroku but the developers of those snipers are inactive to fix bugs. I request you to make one with the same features.

**Why am I sure that Python Snipers work?**
I tried to deploy the sniper. And it was deployed and was working!

[2021-07-14 14:37] GiorgioBrux commented on #119
I will find a workaround for Heroku, I'm not gonna rewrite everything in python just for this reason. Maybe in the future.

[2021-07-14 14:37] #119 closed

[2021-07-14 14:50] nichevulcan20 commented on #119
oke bro

[2021-07-14 15:08] GiorgioBrux commented on #115
I'm aware of this issue and I'm trying to find a workaround.

[2021-07-14 15:13] nichevulcan20 commented on #115
Bois just be patient. Not only this sniper is having this issue, but even other snipers which are also coded in js are having the same issue. the thing is salesforce probaly updated its tos and the snipers now violate the tos. Till then don't try other snipers on main account cuz they can be dangerous and may disable our accounts. The most trusted snipers are just from GiorgioBrux and eternal.

[2021-07-14 15:14] GiorgioBrux commented on #115
Update: The repo has been apparently manually blacklisted, fork and then update the heroku URL to point to your repo and it will work. Instructions in readme soonTM.

[2021-07-14 15:15] nichevulcan20 commented on #115
EPIC TY BRO

[2021-07-14 15:19] apexweeb commented on #115
TY

[2021-07-14 15:31] #115 closed

[2021-07-14 15:55] apexweeb opened #121 "[BUG] Heroku deployment"
After the update i followed the instructions to deploy the sniper to heroku but it says "Your GitHub account (@apexweeb) does not have access to this repository, or it does not exist." on the heroku page

[2021-07-14 19:28] GiorgioBrux commented on #121
Did you fork the repository? I can't see it, so it's either private or you didn't fork it.

[2021-07-21 01:11] 3w7 commented on #115
for update ur fork use [Pull](https://github.com/apps/pull)

[2021-07-22 01:38] 3w7 commented on #121
u cant make a fork private, except if the owner of original repo changes it

[2021-07-22 04:25] GiorgioBrux commented on #121
oh yeah you are right, I had completely forgotten. @apexweeb follow the instructions in the readme closely, you didn't make the fork.

[2021-07-25 20:22] #63 closed

[2021-07-25 20:22] #29 closed

[2021-07-27 14:15] JohnnyBosak opened #126 "Error on Replit"
Hi, I'm getting an error when launching the app on Replit
![ScreenShotReplit](https://user-images.githubusercontent.com/74990227/127169712-b9a83243-ee45-4ae8-aee4-acff52e827f3.PNG)

[2021-07-27 16:37] nichevulcan20 opened #127 "Replit - Add secrets!"
# Example

I did make a Discord Server Nuker in Python. My bot's token gets stolen every time, so I've decided to add some secret variables like this in the repl:

![image](https://user-images.githubusercontent.com/81959998/127191995-68757e7f-5cc7-4498-9ddb-7e847f4ee1dc.png)

Now, to import them I used to import os, and then did like this:
Instead of `token = value`
I added `token = VarName`
![ima

[2021-07-27 16:41] nichevulcan20 commented on #126
try running the auto-format option because you might have deleted the `"", ''` mistakenly...

It's located at the top-right:

![image](https://user-images.githubusercontent.com/81959998/127193767-0a66ff21-f820-4b90-94af-3ceded71958b.png)

[2021-07-27 17:01] CheeseTheWeese opened #128 "[BUG]"
**I'm submitting a bug report**

**I'm running the lastest version**

**What is the expected behavior?**
Its supposed to automatically gift the sniped nitro it to my main account

**What is the current behavior?**
Its sniping real (i double checked) nitro dropped codes but it keeps saying my main token is invalid
![image](https://user-images.githubusercontent.com/88008654/127197149-168df794-eff3-4

[2021-07-27 17:58] JohnnyBosak commented on #126
Didn't resolve the issue. I also deleted the Replit App and created a new one, imported files from Github (used GiorgioBrux/nitro-sniper-enhanced) yet still getting the same error.

[2021-07-27 20:55] JohnnyBosak commented on #126
I fixed the problem by adding node in .Replit command

[2021-07-27 20:55] #126 closed

[2021-07-28 01:24] CheeseTheWeese commented on #128
It crashed for some reason and it now saying this
![image](https://user-images.githubusercontent.com/88008654/127248716-ee52197d-7c1a-4084-b41e-f007d3e6f3de.png)

[2021-07-28 13:15] CheeseTheWeese commented on #128
I re-did my main token and i woke up today to it saying
![image](https://user-images.githubusercontent.com/88008654/127328390-f6cd2957-82ae-4b66-a945-7e383efc8af3.png)
but my main acc doesnt have the nitro,

[2021-07-28 14:51] nichevulcan20 commented on #128
By already-redeemed, this means the code is already claimed by someone

[2021-07-28 16:09] CheeseTheWeese commented on #128
ah alr

[2021-07-28 21:14] CheeseTheWeese commented on #128
i dont believe that there would be other snipers in there with a faster nitro sniper... this is kind of sketchy, i did an advanced searched for the gift and no one knew who got it. What if the owner is just taking the nitro that was sniped using his bots on our accs?

[2021-07-28 21:22] #128 closed

[2021-07-29 00:27] CheeseTheWeese opened #132 "[BUG]"
**I'm submitting a ...**
- [ ] bug report

**I'm running**
- [ ] the latest version

**What is the expected behavior?**
gives me the nitro

**What is the current behavior?**
says already redeemed. i thought this was a nitro sniper but why are all of the 20 codes I've gotten so far saying already redeemed? Does that mean there are other nitro snipers that are getting them?
![image](https://user-ima

[2021-07-30 07:38] nichevulcan20 commented on #132
by Already redeemed thing, this means that the nitro code is already claimed by someone. and there can be some conditions of getting this

- people drop already redeemed codes many times I have also seen that.
- Other snipers can be fast to redeem the nitro like if ur having 200+ms then there are low chances to get nitro

## Fix of the slow speed of the sniper
- join the servers which are of/near

[2021-07-30 16:41] GiorgioBrux commented on #132
Basically what @nichevulcan20 said (thanks!).
The vast majority of the time it's the first thing (people dropping fake codes). If you don't have enough nitro add more alts.

[2021-07-30 16:41] GiorgioBrux commented on #127
I had no idea secrets existed, will look into it asap.

[2021-07-30 17:03] CheeseTheWeese commented on #132
alr ty!

[2021-07-30 17:03] #132 closed

[2021-08-01 08:33] nichevulcan20 commented on #127
TY BROO! I was so worried due to your inactiveness

[2021-08-01 08:39] nichevulcan20 commented on #127
nitro sniper doesn't works on 2fa enabled account right?

[2021-08-03 19:58] GiorgioBrux commented on #127
we are OT, but it does work.

[2021-08-03 20:12] GiorgioBrux commented on #127
I'm gonna close this because of 1b499fae058815b856981a7b6f004eeee4c571e0. The .env file is hidden on replit to everyone else.

[2021-08-03 20:12] #127 closed

[2021-08-04 05:00] nichevulcan20 commented on #127
bro, my account got nuked within 10 mins after developing of deploying sniper on replit

[2021-08-04 12:15] GiorgioBrux commented on #127
@nichevulcan20 open a new issue, that commit is probably unrelated

[2021-08-11 01:55] GiorgioBrux commented on #121
I'm closing this because of no answer. If you have the same issue open a new one.

[2021-08-11 01:55] #121 closed

[2021-08-15 16:48] nichevulcan20 commented on #127
okay

[2021-08-15 17:01] nichevulcan20 opened #135 "dotenv file is visible to everyone on replit"
Hello,
There **was** a system to store secrets in the `.env` file but replit has now changed... Now, it's has been changed completely. Here's an example of how we can store a secret in replit:

- Make a reply or open existing repl where you want to store the secrets. In this example, I'm talking about a Nitro Sniper. See the left part of your reply there will be some options. There will be an opti

[2021-08-20 19:58] quiet69 commented on #115
still doesnt work even after forking and using this repo :(
![image](https://user-images.githubusercontent.com/43907678/130287214-409860a6-99c1-4f57-a7df-524930fe7094.png)

[2021-08-21 00:48] GiorgioBrux commented on #115
@quiet69 I can't find the fork on your profile. Did you delete it?

[2021-08-21 20:38] quiet69 commented on #115
@GiorgioBrux yes I deleted it :( I'll try again and send you a screenshot again tomorrow

[2021-08-22 19:42] quiet69 commented on #115
![image](https://user-images.githubusercontent.com/43907678/130367969-428d78e4-d955-4cdf-bf5f-9af0e7a85f36.png)
@GiorgioBrux

[2021-08-22 20:05] quiet69 opened #137 "[BUG] When using main token ONLY, it still tries to login into guild tokens (even though useMain is true )"
When using main token ONLY, it still tries to login into guild tokens (even though useMain is true and guildtokens field is empty)
![image](https://user-images.githubusercontent.com/43907678/130368507-58efdb28-1830-4279-aeb4-d19c4f76fc2d.png)
![image](https://user-images.githubusercontent.com/43907678/130368511-ecca32bc-5fe3-4131-81c2-156ae91e4f86.png)
![image](https://user-images.githubuserconten

[2021-08-25 01:06] #137 closed

[2021-08-25 01:10] GiorgioBrux commented on #137
:tada: This issue has been resolved in version 1.11.4 :tada:

The release is available on [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.11.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-25 01:10] GiorgioBrux commented on #115
:tada: This issue has been resolved in version 1.11.4 :tada:

The release is available on [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.11.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-25 01:12] GiorgioBrux commented on #115
@quiet69 Sorry for the delay, I thought I had answered. Your fork is also apparently blacklisted, the only thing you can do is use another github account. Maybe an org will also work, not sure.

[2021-08-25 11:48] quiet69 commented on #115
@GiorgioBrux i just downloaded your repo and added it to a new repo in my github and it worked

[2021-08-25 12:07] quiet69 commented on #115
@GiorgioBrux getting error on heroku
-----> Building on the Heroku-20 stack
-----> Determining which buildpack to use for this app
-----> Node.js app detected

-----> Creating runtime environment

       NPM_CONFIG_LOGLEVEL=error
       NODE_VERBOSE=false
       NODE_ENV=production
       NODE_MODULES_CACHE=true

-----> Installing binaries
       engines.node (package.json):  14.x
       engines.n

[2021-08-29 22:57] Radjejszyn opened #139 "[BUG] not seeing .env file in replit"
**I'm submitting a ...**
- [ ] bug report

**I'm running**
- [ ] the latest version

**What is the expected behavior?**
to see the .env file in order to edit it

**What is the current behavior?**
not seeing it in replit

![Przechwytywanie](https://user-images.githubusercontent.com/89749455/131267924-e3ffc505-c410-46cf-ace7-1719c6ef448a.PNG)

[2021-08-29 23:05] #139 closed

[2021-08-30 09:26] renovate[bot] opened #140 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): pin dependency lint-staged to 11.1.2](../pull/138)
 - [ ] [chore(deps): update dependency semantic-release to v17.4.7](../pull/1

[2021-08-30 13:33] Radjejszyn opened #141 "[BUG] Heroku deploy"
**I'm submitting a ...**
- [ ] bug report

**I'm running**
- [ ] the latest version

**What is the expected behavior?**

To build the app on Heroku

**What is the current behavior?**

Build app Hide build log
There was an issue building your app. This can mean your app.json's project is not a valid Heroku application. Please ensure your app is deployable to Heroku and try again.

here is the log:

[2021-08-30 16:22] quiet69 commented on #115
build still failing :(

[2021-08-30 17:09] #141 closed

[2021-08-30 17:10] GiorgioBrux commented on #141
:tada: This issue has been resolved in version 1.11.5 :tada:

The release is available on [GitHub release](https://github.com/GiorgioBrux/nitro-sniper-enhanced/releases/tag/v1.11.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-30 18:52] Radjejszyn opened #142 "[BUG] Heroku deploy - still after patching for todays version"
**I'm submitting a ...**
- [ ] bug report

**I'm running**
- [ ] the latest version

**What is the expected behavior?**

To build the app on Heroku

**What is the current behavior?**

There was an issue building your app. This can mean your app.json's project is not a valid Heroku application. Please ensure your app is deployable to Heroku and try again.

thats the log-file:

-----> Building on th

[2021-08-30 20:02] Radjejszyn opened #143 "[BUG] localmachine installing"
**I'm submitting a ...**
- [ ] bug report

**I'm running**
- [ ] the latest version

**What is the expected behavior?**
Installing and running on local machine

**What is the current behavior?**
not installing at *npm install* step ( local machine)

whole log-file

npm ERR! command C:\Windows\system32\cmd.exe /d /s /c node-gyp rebuild
npm ERR! Building the projects in this solution one at a time.

[2021-08-30 23:40] GiorgioBrux commented on #142
Very weird, you sure you are up to date to the latest commit?

[2021-08-31 06:14] ItzMeeGaurav opened #145 "[REQ] -- Solution of #135 issue"
# Edit : Im facing an error, please review this idea and correct if when possible

**Is your feature request related to a problem? Please describe.**
The solution is of the issue #135
I know that there are so many people who keeps forking other people's projects in the search of private info, such as tokens and passwords. Because your nitro sniper needs to enter the token in the file's **code**, p

[2021-08-31 08:38] Radjejszyn commented on #142
Yeah, i have updated the fork and just tried again to build the app on heroku.

[2021-08-31 13:01] GiorgioBrux commented on #145
I know about secrets, will implement them asap. Sorry for the delay.

[2021-08-31 13:02] GiorgioBrux commented on #143
Looks like a problem with elrpack. You can safely remove it from the dependencies and run npm-install again, or try with WSL.

[2021-08-31 13:04] GiorgioBrux commented on #142
Extremely weird, the integrity check that npm thinks it's wrong is located at https://github.com/GiorgioBrux/nitro-sniper-enhanced/blob/e55739b0cba88a424682214e95d9d53e3498ad05/package-lock.json#L3568
and is right. Will test it myself asap.

[2021-09-02 13:43] nichevulcan20 commented on #145
nice bro

[2021-09-05 11:25] Ender786 commented on #142
I'm getting the same error as well

[2021-09-05 15:41] GiorgioBrux commented on #142
Noted. I will try to get it sorted out today or tomorrow. Sorry for the inconvenience.

[2021-09-08 15:35] #135 closed

[2021-09-08 15:35] #145 closed

[2021-09-08 16:33] GiorgioBrux commented on #142
Can anyone check if this is still an issue and send the log if so?

[2021-09-08 19:36] LeibelRyan opened #147 "[REQ] Gist-support"
Please add config support for "https://gist.github.com/" while we host to heroku...

Like this repo: https://github.com/SlamDevs/slam-mirrorbot/wiki/Deploying-slam-mirrorbot-on-Heroku-with-Github-Workflows

**CONFIG_FILE_URL**

[2021-09-09 05:59] Radjejszyn commented on #142
Sure, I will later try it again when I come home

[2021-09-09 17:23] Radjejszyn commented on #142
2021-09-09T17:22:44.889926+00:00 app[worker.1]:     _   ___ __                _____       _
2021-09-09T17:22:44.889941+00:00 app[worker.1]:      / | / (_) /__________     / ___/____  (_)___  ___  _____
2021-09-09T17:22:44.889942+00:00 app[worker.1]:     /  |/ / / __/ ___/ __ \    \__ \/ __ \/ / __ \/ _ \/ ___/
2021-09-09T17:22:44.889942+00:00 app[worker.1]:    / /|  / / /_/ /  / /_/ /   ___/ / / /

[2021-09-10 02:30] GiorgioBrux commented on #142
@Radjejszyn You can safely ignore the user agent error, it's not fatal. If it builds then this problem is solved.

[2021-09-10 02:30] #142 closed

[2021-09-10 02:32] GiorgioBrux commented on #147
What's the benefit of this? If you want to automatically update your heroku build (which is something you probably shouldn't do because breaking changes can happen) just fork and then autodeploy from there, using something like [pull](https://github.com/wei/pull).

[2021-09-12 05:11] quiet69 opened #148 "[BUG]"
i think the status indicators are not working, my main always shows up as invisible.... think its a bug (have it set to dnd)

[2021-09-12 13:39] GiorgioBrux commented on #148
The sniper doesn't set the status of the main token on purpose atm.

[2021-09-12 21:32] Radjejszyn opened #149 "[BUG] no message notification on discord"
**I'm submitting a ...**
- [x] bug report

**I'm running**
- [x] the latest version

**What is the expected behavior?**
To get notification .

**What is the current behavior?**
After setting up discord sniper on heroku, i dont get any notification from discord on my mobile.
I tried to change the main account status but nothing has helped

After putting the sniper offline, notification works normal

[2021-09-13 08:39] quiet69 commented on #149
close this bug lol. discord thinks you're already logged in to the web and so you wont receive any notifications

[2021-09-13 08:39] quiet69 commented on #148
aah ok... thanks for clarifying :)

[2021-09-13 09:26] Radjejszyn commented on #149
Yeah but the problem is, on a different sniper It was working normally. I got notifications etc

[2021-09-13 14:10] GiorgioBrux commented on #149
Did you try setting `usemain` to `false`?

[2021-09-14 04:47] Radjejszyn commented on #149
I mean yeah, it works but I wanted to use my main account too.
But I will just make new alt and join every server that I'm on main.

[2021-09-14 04:47] #149 closed

[2021-09-14 13:08] GiorgioBrux opened #150 "Status of the project"
Hi everyone!

In the last week I've worked on a dashboard for slow's sniper that you can find [here](https://github.com/GiorgioBrux/nitro-sniper-dashboard).
Now, to what it means for this project:

- I will still support it for now.
- In the future, I plan either to
    - Merge this with my fork of slow's sniper to make a sniper that has all features and can be run both standalone and with the das

[2021-09-20 00:16] GiorgioBrux commented on #148
Closing this then

[2021-09-20 00:16] #148 closed

[2021-09-20 00:17] GiorgioBrux commented on #143
Closing this. If anyone has the same issue, do the above.

[2021-09-20 00:17] #143 closed

[2021-09-21 14:57] depthso opened #152 "[BUG] Error: Cannot find module 'dotenv'"
![image](https://user-images.githubusercontent.com/86912923/134194873-37f774f0-d8ae-4823-b437-6f5226099d4f.png)

[2021-09-23 12:15] GiorgioBrux commented on #152
Did you `npm install`?

[2021-09-23 15:33] Whoogivesashit commented on #152
![image](https://user-images.githubusercontent.com/86912923/134538042-21ee6a99-a00f-4e3b-bb89-31779f88b379.png)

[2021-09-24 15:36] GiorgioBrux commented on #152
🤦 You didn't cd into the sniper folder, you are in system32.

[2021-11-15 20:06] #152 closed

[2022-03-24 10:21] Voxeliorn opened #175 "[BUG] uhhh help?"
**I'm submitting a ...**
- [x] bug report
- [ ] anything else => Please do not submit support requests here. Open a discussion instead and ping me.

**I'm running**
- [x] the latest version
- [ ] anything else => Please update to the latest version and retry.

**What is the expected behavior?**
A clear and concise explanation of the expected behavior.
working?
**What is the current behavior?**
A c

[2022-03-24 17:43] Voxeliorn commented on #175
oop seems like i dont have node 14 LOL

[2022-03-24 17:43] #175 closed